/* Jeg definerer min skrifttype og baggrundsfarve */
body {
    font-family: "raleway", sans-serif;
    background-color: #E3E0D8;
}

 /* Jeg styler mit logo */
 .logo {
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

/* Jeg styler min navigationabar */ 
nav {
    text-align: center;
    border-bottom: 2px solid black;
}

nav a {
    height: 100%;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: black;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    position: relative;

}

nav ul li a{
    display: block;
    padding: 0; /* kig nærmere */
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background: white;
}

nav ul .dropdown li a{
    padding: 0 10px; /* kig nærmere */
    
}

nav ul .navpunkt:hover .dropdown{
    display: block;
}

/* Jeg styler min hover-effekt */
nav a{
    position: relative;
    width: 200px; /* Navigationen er aligned - vandret hele vejen */
    height: 50px;
    line-height: 50px; /* kig også her - denne er afgørende for om undermenu-links bliver vist korrekt */
    text-align: center;
}

nav a:hover, nav a:active {
    letter-spacing: 0px; /* kig også her - problemet med at link teksten blev bred er løst */
    /* letter-spacing: 5px; */
}

nav a::before,
nav::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;

}

nav a::before {
    left: 0;
}

nav a::after {
    right: 0;
}

nav a:hover::before,
nav a:hover::after {
    width: 200%;
}


/* Jeg styler min footer */
/* Tilmeld nyhedsbrev*/
footer {
    border-top: 2px solid black;
}

.nyhedsbrev {
    text-align: left;
    margin-left: 162px;   
}

.column{ 
    flex-direction: column;
    display: flex;
    margin-right: 900px;
    margin-bottom: 10px;
}
.e-mail {
    margin-top: 10px;
}

.button{
   margin-left: auto;
}

/* Kontakt */
.kontakt {
    text-align: center;
    margin-top: -145px;
}

